.landing-header {
    align-items: center;
    background: linear-gradient(
      rgba(232, 72, 94, 0.7),
      rgba(232, 72, 94, 0.7)
    ), url('/media/landing-header@1920_40.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    justify-content: center;

    &__inner {
        text-align: center;
    }

    &__title {
        font-family: $pt-serif-caption;
        font-size: 2.5rem;

        @include breakpoint(640px) {
            font-size: 3rem;
        }
    }

    &__note {
        font-size: 1.3rem;

        @include breakpoint(640px) {
            font-size: 1.5rem;
        }
    }
}
