.landing-header {
    background: linear-gradient(
      rgba(232, 72, 94, 0.7),
      rgba(232, 72, 94, 0.7)
    ), url('/media/landing-header@1920_40.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: calc(100vh - 4rem) !important;

    &__note {
        font-size: 1.3rem;

        @include breakpoint(641px) {
            font-size: 1.5rem;
        }
    }

    &__menu {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
}
