extends ../base.pug

block layout
    header.screen.screen--centered.landing-header
        .screen__inner.screen__inner--centered
            .screen__title Олег Хлевнов
            .landing-header__note Full-stack web developer
        #menu.menu.landing-header__menu
            .menu__title
            ul.menu__inner
                li.menu__item Статьи
                li.menu__item Проекты
                li.menu__item Обо мне
                li.menu__item Контакты

    section.screen.landing-articles
        .screen__inner.landing-articles__list
            header.screen__title Статьи
            ul.landing-articles__list
                li.landing-articles__item
                    a(href='/articles/how-to-use-pug-in-symfony') Интеграция Pug в Symfony

    main
        .screen.screen--centered
            .screen__inner Третий экран

        .screen.screen--centered
            .screen__inner Чертвертый экран

        .screen.screen--centered
            .screen__inner Пятый экран

        .landing-header.screen
            .person
                ul.person__links
                    li.person__link Над чем я работаю:
                    li.person__link
                        a(href='//www.kinkstore.ru') www.kinkstore.ru
                    li.person__link
                        a(href='//azgaz.ru') azgaz.ru
                ul.person__links
                    li.person__link Контакты:
                    li.person__link
                        a(href='mailto:olegkhlevnov@gmail.com') oleg@khlevnov.ru
                    li.person__link
                        a(href='//vk.com/khlevnov') vk.com/khlevnov
