doctype html
html(lang="ru")
    head
        block meta
            meta(charset="utf8")
            meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        block styles
            link(href="/styles/styles.css", rel="stylesheet")
        block title
            title Олег Хлевнов — Full-stack web developer
    body
        block layout
        block scripts
            script(src="/js/app.js")
