extends ../base.pug

block layout
    main.wrapper
        .person
            .person__name Олег Хлевнов
            .person__comment Full-stack web developer
            ul.person__links
                li.person__link Над чем я работаю:
                li.person__link
                    a(href='//www.kinkstore.ru') www.kinkstore.ru
                li.person__link
                    a(href='//azgaz.ru') azgaz.ru
            ul.person__links
                li.person__link Контакты:
                li.person__link
                    a(href='mailto:olegkhlevnov@gmail.com') oleg@khlevnov.com
                li.person__link
                    a(href='//vk.com/khlevnov') vk.com/khlevnov
            ul.person__links
                li.person__link Статьи:
                li.person__link
                    a(href='/articles/how-to-use-pug-in-symfony') Интеграция Pug в Symfony
