.article {
    border-bottom: 1px solid #999;
    padding-top: 1rem;

    &__title {
        font-family: $pt-sans-narrow;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    &__published {
        color: #999;
        margin: 1rem 0;
    }

    &:last-child {
        border-bottom: none;
    }

    &--single {
        padding-bottom: 2rem;
    }
}
