mixin article(article)
    .article.article--single&attributes(attributes)
        .article__title= article.title
        .article__published
            | Опубликовано:&nbsp;
        .typical.article__text!= article.text
