extends ./base.html.pug

block layout
    main.wrapper
        .person
            .person__name Олег Хлевнов
            .person__comment Full-stack web developer
            ul.person__links
                li.person__link Над чем я работаю:
                    a(href='//www.kinkstore.ru') www.kinkstore.ru
                    a(href='//azgaz.ru') azgaz.ru
            ul.person__links
                li.person__link Контакты:
                    a(href='mailto:olegkhlevnov@gmail.com') oleg@khlevnov.com
                    a(href='//vk.com/khlevnov') vk.com/khlevnov
