mixin article(article)
    .article.article--single&attributes(attributes)
        .article__title= article.title
        .article__published
            | Опубликовано:&nbsp;
            :php
                echo $article->getPublished()->format('d.m.Y');
        .typical.article__text!= article.text
