:root {
    box-sizing: border-box;
	font-family: $pt-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;

	@include breakpoint($medium) {
		font-size: 1.125 * $base-font-size;
	}

	@include breakpoint($large) {
		font-size: 1.25 * $base-font-size;
	}
}

::selection {
	background: #aaf;
}

* {
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}

html, body {
	height: 100%;
    margin: 0;
    min-width: 320px;
}

ul {
	list-style: none;
}
figure, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
	padding: 0;
}

a {
    color: #39f;
}

.wrapper {
	display: flex;
	height: 100%;
}
