.person {
	padding: 1rem 2rem;
	margin: auto;

	&__name {
		font-size: 2rem;
		font-weight: bold;
	}

	&__comment {
		font-size: 1.2rem;
	}

	&__links {
		padding-top: 1rem;

	}

    &__link {
        a {
            color: #333;

            @include breakpoint($medium) {
                border-bottom: 1px solid #333;
                text-decoration: none;
            }
        }
    }
}
